body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header, .list, .compare, .cool.dog, .bad.dog, .nav {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.list ul {
    padding: 0;
    text-align: left;
}

.compare table, .compare th, .compare td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    background-color: #ffffff; 
    border-radius: 5px;
}

.compare th {
    background-color: #333;
    color: #fff;
}

.reasons-image {
    max-width: 20%;
    height: auto;
}

.comparebad {
  max-width: 40%;
  height: auto;
}

.comparegood {
  max-width: 20%;
  height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
